/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-at {
  background-image: url(../images/spritesheet.png);
  background-position: -69px -212px;
  width: 34px;
  height: 33px;
}
.icon-ba {
  background-image: url(../images/spritesheet.png);
  background-position: -140px -212px;
  width: 24px;
  height: 24px;
}
.icon-bzz {
  background-image: url(../images/spritesheet.png);
  background-position: -191px -104px;
  width: 37px;
  height: 39px;
}
.icon-check {
  background-image: url(../images/spritesheet.png);
  background-position: -191px -145px;
  width: 26px;
  height: 20px;
}
.icon-clo {
  background-image: url(../images/spritesheet.png);
  background-position: -105px -212px;
  width: 33px;
  height: 33px;
}
.icon-clock {
  background-image: url(../images/spritesheet.png);
  background-position: -123px -64px;
  width: 18px;
  height: 18px;
}
.icon-close {
  background-image: url(../images/spritesheet.png);
  background-position: -219px -145px;
  width: 20px;
  height: 20px;
}
.icon-co-2 {
  background-image: url(../images/spritesheet.png);
  background-position: -70px -169px;
  width: 64px;
  height: 40px;
}
.icon-coco-2 {
  background-image: url(../images/spritesheet.png);
  background-position: -245px -155px;
  width: 40px;
  height: 55px;
}
.icon-coco {
  background-image: url(../images/spritesheet.png);
  background-position: -245px -99px;
  width: 44px;
  height: 54px;
}
.icon-col {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -255px;
  width: 17px;
  height: 44px;
}
.icon-date {
  background-image: url(../images/spritesheet.png);
  background-position: -187px -212px;
  width: 16px;
  height: 16px;
}
.icon-down-arrow {
  background-image: url(../images/spritesheet.png);
  background-position: -136px -169px;
  width: 52px;
  height: 26px;
}
.icon-eat {
  background-image: url(../images/spritesheet.png);
  background-position: -167px -140px;
  width: 19px;
  height: 25px;
}
.icon-far {
  background-image: url(../images/spritesheet.png);
  background-position: -245px 0px;
  width: 54px;
  height: 45px;
}
.icon-ged {
  background-image: url(../images/spritesheet.png);
  background-position: -47px -84px;
  width: 60px;
  height: 54px;
}
.icon-gris {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -169px;
  width: 68px;
  height: 41px;
}
.icon-gus {
  background-image: url(../images/spritesheet.png);
  background-position: -191px 0px;
  width: 52px;
  height: 62px;
}
.icon-ho {
  background-image: url(../images/spritesheet.png);
  background-position: -123px 0px;
  width: 66px;
  height: 62px;
}
.icon-icon-fb {
  background-image: url(../images/spritesheet.png);
  background-position: -47px -140px;
  width: 118px;
  height: 25px;
}
.icon-icon-insta {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -42px;
  width: 121px;
  height: 40px;
}
.icon-ind {
  background-image: url(../images/spritesheet.png);
  background-position: -245px -47px;
  width: 48px;
  height: 50px;
}
.icon-ko {
  background-image: url(../images/spritesheet.png);
  background-position: -109px -84px;
  width: 69px;
  height: 43px;
}
.icon-list-icon {
  background-image: url(../images/spritesheet.png);
  background-position: -230px -104px;
  width: 13px;
  height: 10px;
}
.icon-map-icon {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -212px;
  width: 33px;
  height: 41px;
}
.icon-mark {
  background-image: url(../images/spritesheet.png);
  background-position: -166px -212px;
  width: 19px;
  height: 22px;
}
.icon-marker {
  background-image: url(../images/spritesheet.png);
  background-position: -35px -212px;
  width: 32px;
  height: 37px;
}
.icon-next {
  background-image: url(../images/spritesheet.png);
  background-position: -287px -175px;
  width: 9px;
  height: 18px;
}
.icon-ol {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -84px;
  width: 45px;
  height: 83px;
}
.icon-people {
  background-image: url(../images/spritesheet.png);
  background-position: -143px -64px;
  width: 19px;
  height: 14px;
}
.icon-prev {
  background-image: url(../images/spritesheet.png);
  background-position: -287px -155px;
  width: 9px;
  height: 18px;
}
.icon-slice-1 {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 121px;
  height: 40px;
}
.icon-time-line {
  background-image: url(../images/spritesheet.png);
  background-position: -191px -64px;
  width: 38px;
  height: 38px;
}
.icon-vel {
  background-image: url(../images/spritesheet.png);
  background-position: -190px -169px;
  width: 39px;
  height: 24px;
}
