/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-at {
  background-image: url(../images/spritesheet.png);
  background-position: -135px -89px;
  width: 34px;
  height: 33px;
}
.icon-ba {
  background-image: url(../images/spritesheet.png);
  background-position: -161px -219px;
  width: 24px;
  height: 24px;
}
.icon-bzz {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -153px;
  width: 37px;
  height: 39px;
}
.icon-check {
  background-image: url(../images/spritesheet.png);
  background-position: -187px -219px;
  width: 26px;
  height: 20px;
}
.icon-clo {
  background-image: url(../images/spritesheet.png);
  background-position: -135px -124px;
  width: 33px;
  height: 33px;
}
.icon-clock {
  background-image: url(../images/spritesheet.png);
  background-position: -179px -156px;
  width: 18px;
  height: 18px;
}
.icon-close {
  background-image: url(../images/spritesheet.png);
  background-position: -215px -219px;
  width: 20px;
  height: 20px;
}
.icon-co-2 {
  background-image: url(../images/spritesheet.png);
  background-position: -141px -246px;
  width: 64px;
  height: 40px;
}
.icon-coco-2 {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -56px;
  width: 40px;
  height: 55px;
}
.icon-coco {
  background-image: url(../images/spritesheet.png);
  background-position: -317px 0px;
  width: 44px;
  height: 54px;
}
.icon-col {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -291px;
  width: 17px;
  height: 44px;
}
.icon-date {
  background-image: url(../images/spritesheet.png);
  background-position: -237px -219px;
  width: 16px;
  height: 16px;
}
.icon-dog {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -89px;
  width: 86px;
  height: 86px;
}
.icon-down-arrow {
  background-image: url(../images/spritesheet.png);
  background-position: -207px -246px;
  width: 52px;
  height: 26px;
}
.icon-eat {
  background-image: url(../images/spritesheet.png);
  background-position: -261px -246px;
  width: 19px;
  height: 25px;
}
.icon-far {
  background-image: url(../images/spritesheet.png);
  background-position: -255px -120px;
  width: 54px;
  height: 45px;
}
.icon-ged {
  background-image: url(../images/spritesheet.png);
  background-position: -255px 0px;
  width: 60px;
  height: 54px;
}
.icon-gris {
  background-image: url(../images/spritesheet.png);
  background-position: -71px -246px;
  width: 68px;
  height: 41px;
}
.icon-gus {
  background-image: url(../images/spritesheet.png);
  background-position: -255px -56px;
  width: 52px;
  height: 62px;
}
.icon-hand {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 88px;
  height: 87px;
}
.icon-ho {
  background-image: url(../images/spritesheet.png);
  background-position: -179px -92px;
  width: 66px;
  height: 62px;
}
.icon-icon-fb {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -219px;
  width: 118px;
  height: 25px;
}
.icon-icon-insta {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -177px;
  width: 121px;
  height: 40px;
}
.icon-ind {
  background-image: url(../images/spritesheet.png);
  background-position: -255px -167px;
  width: 48px;
  height: 50px;
}
.icon-ko {
  background-image: url(../images/spritesheet.png);
  background-position: 0px -246px;
  width: 69px;
  height: 43px;
}
.icon-list-icon {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -276px;
  width: 13px;
  height: 10px;
}
.icon-map-icon {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -194px;
  width: 33px;
  height: 41px;
}
.icon-mark {
  background-image: url(../images/spritesheet.png);
  background-position: -282px -246px;
  width: 19px;
  height: 22px;
}
.icon-marker {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -237px;
  width: 32px;
  height: 37px;
}
.icon-next {
  background-image: url(../images/spritesheet.png);
  background-position: -352px -214px;
  width: 9px;
  height: 18px;
}
.icon-no {
  background-image: url(../images/spritesheet.png);
  background-position: -90px 0px;
  width: 87px;
  height: 87px;
}
.icon-ol {
  background-image: url(../images/spritesheet.png);
  background-position: -88px -89px;
  width: 45px;
  height: 83px;
}
.icon-people {
  background-image: url(../images/spritesheet.png);
  background-position: -199px -156px;
  width: 19px;
  height: 14px;
}
.icon-prev {
  background-image: url(../images/spritesheet.png);
  background-position: -352px -194px;
  width: 9px;
  height: 18px;
}
.icon-slice-1 {
  background-image: url(../images/spritesheet.png);
  background-position: -123px -177px;
  width: 121px;
  height: 40px;
}
.icon-time-line {
  background-image: url(../images/spritesheet.png);
  background-position: -317px -113px;
  width: 38px;
  height: 38px;
}
.icon-vel {
  background-image: url(../images/spritesheet.png);
  background-position: -120px -219px;
  width: 39px;
  height: 24px;
}
.icon-warn {
  background-image: url(../images/spritesheet.png);
  background-position: -179px 0px;
  width: 74px;
  height: 90px;
}
