// Кнопки

.btn {
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 25px 33px;
  background-color: $info-section-title-color;
  font-size: 23px;
  font-family: $bold-font;
  font-weight: 400;

  &--section-info{
    transform: translateX(-25px);
  }

  &--find-section{
    background-color: $find-section-color;
    padding-left: 30px;
    padding-right: 30px;
  }

  &--slider-section{
    background-color: $slider-section-btn;
    display: block;
    width: 277px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    &:first-of-type{
      margin-bottom: 20px;
    }

    &:last-of-type{
      width: 260px;
      transform: translateX(50px);
    }
  }

  &--ecology-section{

  }

  &--market-section{
    background-color: $market-decor-color;
  }
}

.btn-scroll-down{
  display: inline-block;
  margin-top: 61px;
  opacity: 0;
}
