.menu-wrp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $main-color;
  z-index: 900;
  transform: translateX(100%);
  transition: 0.8s;

  @include max-w($screen-md){
    flex-wrap: wrap;
  }
}

.left-part {
  width: 65%;
  background-color: #a1ac96;
  transform: translateX(-300%);
  transition: 0.8s;

  @include max-w($screen-xl){
    width: 60%;
  }

  @include max-w($screen-md){
    width: 100%;
  }

  .content-wrp {
    max-width: 280px;
  }
}

.menu-logo {
  max-width: 189px;
  margin: 0 auto 85px;
  opacity: 0;

  @include max-w($screen-xxxl){
    margin-bottom: 40px;
  }

  img {
    width: 100%;
  }
}

.right-part {
  width: 35%;

  @include max-w($screen-xl){
    width: 40%;
  }

  .content-wrp{
    max-width: 340px;
    opacity: 0;
  }
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;

  &__item {
    text-align: center;
    >a{
      display: inline-block;
      font-family: $bold-font;
      font-size: 42px;
      line-height: 68px;
      color: $menu-item-color;

      @include max-w($screen-xxl){
        font-size: 32px;
        line-height: 55px;
      }

      @include max-w($screen-xl){
        font-size: 28px;
        line-height: 40px;
      }

    }
  }
}

.block-info{
  color: #a1ac96;
  margin-bottom: 60px;

  @include max-w($screen-xxxl){
    margin-bottom: 35px;
  }

  @include max-w($screen-xxl){
    margin-bottom: 22px;
  }

  &__title{
    font-family: $title-font;
    font-size: 30px;
    line-height: 35px;

    @include max-w($screen-xl){
      font-size: 25px;
    }
  }

  &__description{
    font-family: $bold-font;
    font-weight: $bold-font-w;
    font-size: 17px;

    @include max-w($screen-xl){
      font-size: 14px;
    }
  }

  &:last-of-type{
    margin-bottom: 120px;

    @include max-w($screen-xl){
      margin-bottom: 60px;
    }
  }
}

.social-link{
  display: block;
  margin-bottom: 30px;

  &:last-of-type{
    margin-bottom: 0;
  }
}