.hero{
  height: 100vh;
  padding: 30px;
  margin-bottom: 30px;

  &__banner{
    position: relative;
    height: 100%;
    background: url('../images/hero-banner-home.png') no-repeat center/cover;
  }
}

.time-line{
  position: absolute;
  width: 37px;
  height: 37px;
  bottom: 70px;
  left: 73px;
}

.info-section{
  overflow: hidden;
  padding-bottom: 35px;

  //No delete (rules for animation)
  /*&__img{
    transform: scale(0.9);
    transition: 1.2s;
  }*/

  &__container{
    position: relative;
    max-width: 1170px;
    margin-left: auto;
    margin-right: -58px;

  }

  &__text{
    position: absolute;
    max-width: 802px;
    top: 65px;
    left: -505px;
  }

  .section-title{
    color: $info-section-title-color;
    margin-bottom: 33px;
  }

  .date{
    font-family: $bold-font;
    font-weight: $bold-font-w;
    font-size: 27px;
    color: $info-section-title-color;
    margin-bottom: 30px;
  }

  .description-text{
    max-width: 600px;
    color: $info-small-text-color;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}

.find-section{
  padding-top: 35px;
  overflow: hidden;

  &__container{
    max-width: 1870px;
    margin-right: auto;
  }

  &__text{
    max-width: 710px;
    width: 100%;
    padding-top: 235px;
    color: $find-section-color;
    background-image: url('../images/map-bg.png');
    background-repeat: no-repeat;
    background-position-x: 192px;
  }

  .section-title{
    margin-bottom: 23px;
  }

  .find-text-indent{
    display: block;

    &--sm{
      padding-left: 40px;
    }

    &--md{
      padding-left: 75px;
    }
  }

  .description-content{
    max-width: 517px;
  }

  .description-text{
    margin-bottom: 25px;
  }
}

.text-indent{
  display: block;
  transform: translateX(-50px);
}

