.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 901;
  display: flex;
  justify-content: space-between;
}

.btn-slide-line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.scroll-slide-line {
  width: 0;
  background-color: $main-color;
  &__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

.menu-btn-wrap,
.map-btn-wrp {
  background: $main-color;
  width: 91px;
  height: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  transform: scale(0);
  transform-origin: left top;
  transition: transform 0.5s;
  outline: 0 none;
  border: 0 none;

  @include max-w($screen-sm-start){
    width: 60px;
    height: 60px;
  }
}

.map-btn-wrp {
  transform-origin: right top;
}

.icon-map-icon{
  opacity: 0;
}

.icon-menu {
  width: 22px;
  height: 2px;
  display: inline-block;
  background-color: $icon-menu;
  margin-bottom: 5px;
  transition: transform 0.3s;
  opacity: 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}
